_Test/Connected Services/ws/WebServiceDoc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="input">
        <s:complexType>
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckOutResult" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckOutSoapIn">
    <wsdl:part name="input" element="tns:input" />
  </wsdl:message>
  <wsdl:message name="CheckOutSoapOut">
    <wsdl:part name="CheckOutResult" element="tns:CheckOutResult" />
  </wsdl:message>
  <wsdl:portType name="WebServiceDocSoap">
    <wsdl:operation name="CheckOut">
      <wsdl:input message="tns:CheckOutSoapIn" />
      <wsdl:output message="tns:CheckOutSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceDocSoap" type="tns:WebServiceDocSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckOut">
      <soap:operation soapAction="http://tempuri.org/CheckOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceDocSoap12" type="tns:WebServiceDocSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckOut">
      <soap12:operation soapAction="http://tempuri.org/CheckOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceDoc">
    <wsdl:port name="WebServiceDocSoap" binding="tns:WebServiceDocSoap">
      <soap:address location="http://localhost:59188/WebServiceDoc.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceDocSoap12" binding="tns:WebServiceDocSoap12">
      <soap12:address location="http://localhost:59188/WebServiceDoc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>